/** css reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/** HOME-LAYOUT */
.layout-home {
	--w-spacing: 30px; /** @FIXME value */
	--h-spacing: 20px; /** @FIXME value */

	--details-width: calc(220px); /** @FIXME value*/
	--title-height: 70px; /** @FIXME value OR remove property */
	--image-width: calc(700px); /** @FIXME value*/

	display: grid;
	grid:
		'indicators indicators' auto
		'title title' var(--title-height)
		'd1 d2' auto
		'image image' auto
		/ var(--details-width) var(--details-width);
	row-gap: var(--h-spacing);
	column-gap: var(--w-spacing);
	padding: 0 var(--w-spacing);
	justify-items: center;
	align-items: start;

	width: 100%;
	padding-top: 158px; /** @FIXME value */
	background: transparent;
	color: white;
}

.layout-home-item {
	width: 100%;
	height: 100%;
}

.layout-home-details-1-container {
	grid-area: d1;
}

.layout-home-details-2-container {
	grid-area: d2;
}

.layout-home-image-container {
	grid-area: image;
}

.layout-home-details {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 220px; /** FIXME value */
	height: 377px; /** FIXME value */
	padding: 37px;

	border: 1px solid #ffffff;
	border-radius: 200px; /** FIXME value */
	box-sizing: border-box;

	color: #ffffff;
	overflow: hidden;
}

.layout-home-image {
	width: 100%;
}

.layout-home-scroll-btn-container {
	grid-area: scroll-btn;
	display: none;
}
.layout-home-indicators-container {
	grid-area: indicators;
}

.layout-home-title-container {
	grid-area: title;
	text-transform: uppercase;
}

/** @FIXME value @media */
@media (min-width: 1300px) {
	.layout-home {
		grid:
			'd1 title d2' var(--title-height)
			'd1 image d2' auto
			'scroll-btn image indicators' 1fr
			/ var(--details-width) var(--image-width) var(--details-width);
	}

	.layout-home-indicators-container {
		display: inline-flex;
	}
	.layout-home-scroll-btn-container {
		display: revert;
	}
}

/** HOME-DETAILS */
.home-details-content {
	display: flex;
	font-size: 0.75em;
	gap: 2em;
	text-align: center;
	flex-direction: column;
	align-items: center;
	padding: 2em 0;
}

.home-details-1-logo {
	width: 3em;
	height: 3em;
}

.home-details-1-letsgo {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
}

.home-details-1-letsgo-text {
	font-weight: 700;
	text-transform: uppercase;
}

.home-details-1-letsgo-logo {
	width: 3em;
	height: 3em;
	padding: 1em;
	background-color: var(--letsgo-logo-color);
	border-radius: 100%;
}

.home-details-1-image {
	height: 6.5em;
}

/** CAROUSEL */

#carousel {
	position: relative;
}

.carousel-item {
	position: relative;
	z-index: 0; /* stacking context creation */
	width: 100%;
	height: 100%;
	display: block;
}

.carousel-item > [data-carousel-idx] {
	position: absolute; /** relative to some parent outside of this component (Carousel here)*/
	z-index: 0;
	top: 0;
	left: 0;

	width: 100%;
	overflow: hidden;
}

.carousel-item > [data-carousel-idx]:not(.active) {
	display: none;
}

.carousel-indicators {
	--size: 9px; /** FIXME value */

	width: 100%;

	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 15px; /** FIXME value */
}

.carousel-indicator {
	width: var(--size);
	height: var(--size);
	margin-left: calc(var(--size) + 1px);

	box-sizing: border-box;
	border: 1px solid #ffffff;
	border-radius: var(--size);
	background: none;

	position: relative;
}

.carousel-indicator::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;

	border-radius: 100%;
	background-color: #ffffff;

	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.carousel-indicator.active::after {
	opacity: 1;
}

.carousel-indicator:hover {
	cursor: pointer;
}

.carousel-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;

	--bg-transitionDur: 1s;
	transition-property: --bg-color1, --bg-position1, --bg-color2, --bg-position2, --bg-color3,
		--bg-position3, --bg-color4, --bg-position4;
	transition-duration: var(--bg-transitionDur);
	background: linear-gradient(
		90deg,
		var(--bg-color1) var(--bg-position1),
		var(--bg-color2) var(--bg-position2),
		var(--bg-color3) var(--bg-position3),
		var(--bg-color4) var(--bg-position4)
	);
}

#carousel[data-active='0'] .carousel-background {
	--bg-color1: #010a44;
	--bg-position1: 0%;
	--bg-color2: #001477;
	--bg-position2: 50%;
	--bg-color3: #001477;
	--bg-position3: 50%;
	--bg-color4: #010a44;
	--bg-position4: 100%;
}
#carousel[data-active='1'] .carousel-background {
	--bg-color1: #3c071b;
	--bg-position1: 0%;
	--bg-color2: #9c0e43;
	--bg-position2: 50%;
	--bg-color3: #9c0e43;
	--bg-position3: 50%;
	--bg-color4: #3c071b;
	--bg-position4: 100%;
}
#carousel[data-active='2'] .carousel-background {
	--bg-color1: #0a1c21;
	--bg-position1: 0%;
	--bg-color2: #1b3e4a;
	--bg-position2: 50%;
	--bg-color3: #1b3e4a;
	--bg-position3: 50%;
	--bg-color4: #0a1c21;
	--bg-position4: 100%;
}
#carousel[data-active='3'] .carousel-background {
	--bg-color1: #be0f39;
	--bg-position1: 0%;
	--bg-color2: #fe696c;
	--bg-position2: 42.5%;
	--bg-color3: #fe696c;
	--bg-position3: 57.5%;
	--bg-color4: #be0f39;
	--bg-position4: 100%;
}

/** FIXME fallback when houdini is not supported */
@property --bg-color1 {
	syntax: '<color>';
	initial-value: white;
	inherits: false;
}

@property --bg-color2 {
	syntax: '<color>';
	initial-value: white;
	inherits: false;
}

@property --bg-color3 {
	syntax: '<color>';
	initial-value: white;
	inherits: false;
}

@property --bg-color4 {
	syntax: '<color>';
	initial-value: white;
	inherits: false;
}

@property --bg-position1 {
	syntax: '<percentage>';
	initial-value: 0%;
	inherits: false;
}

@property --bg-position2 {
	syntax: '<percentage>';
	initial-value: 50%;
	inherits: false;
}

@property --bg-position3 {
	syntax: '<percentage>';
	initial-value: 50%;
	inherits: false;
}

@property --bg-position4 {
	syntax: '<percentage>';
	initial-value: 100%;
	inherits: false;
}

/** FIXME value @media */
@media (min-width: 1300px) {
	.bg {
		height: calc(100% - 68px); /** FIXME value */
	}
}

@media (min-width: 1250px) {
	/** FIXME value */

	.carousel-indicators {
		height: 100%;
		box-sizing: border-box;
		align-items: start;
	}
}
