/** css reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/** fonts */
@font-face {
	font-family: 'Felix Titling';
	src: url('fonts/FELIXTI.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
	font-family: 'Mustica Pro';
	font-weight: 300;
	src: url('fonts/MusticaPro-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Mustica Pro';
	font-weight: 400;
	src: url('fonts/MusticaPro-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Mustica Pro';
	font-weight: 500;
	src: url('fonts/MusticaPro-Medium.otf') format('opentype');
}

@font-face {
	font-family: 'Mustica Pro';
	font-weight: 600;
	src: url('fonts/MusticaPro-SemiBold.otf') format('opentype');
}

@font-face {
	font-family: 'Mustica Pro';
	font-weight: 700;
	src: url('fonts/MusticaPro-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Mustica Pro';
	font-weight: 800;
	src: url('fonts/MusticaPro-ExtraBold.otf') format('opentype');
}

@font-face {
	font-family: 'Mustica Pro';
	font-weight: 900;
	src: url('fonts/MusticaPro-Black.otf') format('opentype');
}

body {
	font-family: 'Mustica Pro';
	font-weight: 400;

	--home-details-width: 14em;
	--home-image-width: 52em;
	--home-w-gap: 3em;
}

#carousel {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}

/** HEADER: NAVIGATION */
.nav-container {
	position:absolute;
	top:0;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	padding: 30px 0;
}

.nav {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(2 * var(--home-details-width) + var(--home-image-width) + 2 * var(--home-w-gap));
}

.nav-links {
	width: var(--home-details-width);
	display: flex;
	justify-content: space-between;
}

.nav-title {
	font-size: 20px;
	font-weight: 700;
	user-select: none;
	flex-grow: 1;
	text-align: center;
}

.nav-link {
	color: inherit;
	background: none;
	border: none;
}

.nav-link:hover {
	font-weight: 700;
	cursor: pointer;
}

/** FOOTER */
footer {
	position:relative;
	color: white;
	display: flex;
	justify-content: center;

	/* How much we want colored background to be added at its start */
	--background-added-top: 100px; /* TODO fix value */

	padding: 50px;
}

footer:after {
	/* use pseudo-element to control height */
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: calc(100% + var(--background-added-top));
	bottom: 0;
	background: linear-gradient(90deg, #010a44 0%, #001477 50%, #010a44 100%);
	z-index: -1;
}

.footer-content {
	border: 1px solid white;
	border-radius: 20px;
	font-size: 20px;
	display: flex;
	align-items: center;
	height: 75px;
	padding: 20px 0;
}

.footer-content > * {
	height: 100%;
	padding: 0 50px;
	text-wrap: nowrap;
}

.footer-content > *:not(:first-child) {
	border-left: 1px solid white;
}

.footer-content-icons {
	display: flex;
	gap: 30px;
}

/** HOME-LAYOUT */
.layout-home {
	--home-h-gap: 3em;

	--title-height: 3em;
	--bottom-height: 14em;

	display: grid;
	grid:
		'indicators indicators' auto
		'title title' var(--title-height)
		'd1 d2' auto
		'image image' calc(var(--bottom-height) + 6em)
		/ var(--home-details-width) var(--home-details-width);
	row-gap: var(--home-h-gap);
	column-gap: var(--home-w-gap);
	padding: 0 var(--home-w-gap);
	justify-items: center;
	align-items: start;

	padding-top: 150px;
	background: transparent;
	color: white;
}

.layout-home-item {
	width: 100%;
	height: 100%;
}

.layout-home-details-1-container {
	grid-area: d1;
}

.layout-home-details-2-container {
	grid-area: d2;
}

.layout-home-image-container {
	grid-area: image;
}

.layout-home-details {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 220px; /** FIXME value */
	height: 377px; /** FIXME value */
	padding: 2em 0.75em;

	border: 1px solid #ffffff;
	border-radius: 200px; /** FIXME value */
	box-sizing: border-box;

	color: #ffffff;
	overflow: hidden;
}

.layout-home-image {
	width: 100%;
}

.layout-home-scroll-btn-container {
	grid-area: scroll-btn;
	display: none;
}

.scroll-arrow-container {
	padding: 15px;
	display: flex;
    justify-content: center;
}

.scroll-arrow {
	width: 25px;
    height: 25px;
    padding: 6px;
    border: 1px solid white;
    border-radius: 100%;
	position: relative;
	background-color: unset;
	cursor: pointer;
	fill: white;
}

.scroll-arrow:hover {
	fill: black;
	background-color: white;
}

.scroll-arrow:after {
	--click-area-enlarged: 5px;
	content:'';
	position: absolute;
	top: calc(-1 * var(--click-area-enlarged));
	left: calc(-1 * var(--click-area-enlarged));
	width: calc(100% + 2 * var(--click-area-enlarged));
	height: calc(100% + 2 * var(--click-area-enlarged));
}

.layout-home-indicators-container {
	grid-area: indicators;
}

.layout-home-title-container {
	grid-area: title;
	text-transform: uppercase;
}

/** @FIXME value @media */
@media (min-width: 1300px) {
	body {
		--home-w-gap: 1em;
	}

	.layout-home {
		grid:
			'd1 title d2' var(--title-height)
			'd1 image d2' auto
			'scroll-btn image indicators' var(--bottom-height)
			/ var(--home-details-width) var(--home-image-width) var(--home-details-width);
	}

	.layout-home-indicators-container {
		display: inline-flex;
	}
	.layout-home-scroll-btn-container {
		display: revert;
	}
}

/** HOME-TITLE */
.home-title {
	font-family: 'Felix Titling';
	text-shadow: 0 7px 20px #000000;
	font-size: 4em;
	text-align: center;
	text-wrap: nowrap;
	margin-top: -0.4em;
}

/** HOME-DETAILS */
.home-details-content {
	display: flex;
	font-size: 0.75em;
	gap: 2em;
	text-align: center;
	flex-direction: column;
	align-items: center;
	padding: 2em 0;
}

.home-details-content-text {
	font-weight: 300;
}

.home-details-content-image {
	height: 7em;
}

.home-details-content-cards {
	display: block;
	height: 6em;
	width: 100%;
	position: relative;
}

.home-details-content-card {
	position: absolute;
	width: 4.5em;
	height: 8em;
	display: block;
	border: 1px solid #ffffff;
	border-radius: 10em;
	box-sizing: border-box;
	overflow: hidden;

	--z-rotation-base: 11deg; /** adjust this value and everything follows ;) */
	--z-rotate: 0;
	transform: translate(-50%, 0) rotateZ(var(--z-rotate));
	transform-origin: bottom;
	
	transition: transform 200ms 200ms;
	left: 50%;
	bottom: 0;

	display: block;
}

.carousel-item > [data-carousel-idx]:not(.active) .home-details-content-card {
	z-index: -1; /* hid them behind other cards */
}

.carousel-item > [data-carousel-idx].active .home-details-content-card:nth-child(1) {
	z-index: 3;
	--z-rotate: calc(var(--z-rotation-base) * -1);
}
.home-details-content-card:nth-child(2) {
	z-index: 2;
	--z-rotate: 0; /* default value */
}
.carousel-item > [data-carousel-idx].active .home-details-content-card:nth-child(3) {
	z-index: 1;
	--z-rotate: var(--z-rotation-base);
}

.home-details-content-card img {
	height: 100%;
	object-fit: cover;
}

.home-details-content-title {
	display: block;
	font-family: 'Felix Titling';
	text-transform: uppercase;
	text-align: center;
	text-wrap: nowrap;
	font-size: 2em;
}

.home-details-content-line {
	width: 25%;
}

.home-details-1-logo {
	width: 3em;
	height: 3em;
}

.home-details-1-letsgo {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
}

.home-details-1-letsgo-text {
	font-weight: 700;
	text-transform: uppercase;
	user-select: none;
}

.home-details-1-letsgo-logo {
	width: 3em;
	height: 3em;
	padding: 1em;
	background-color: var(--letsgo-logo-color);
	border: 1px solid var(--letsgo-logo-color);
	border-radius: 100%;
	cursor: pointer;
}

.home-details-1-letsgo-logo:hover {
	background-color: var(--letsgo-logo-hover-color);
}

.home-details-2-projects-btn {
	background-color: var(--letsgo-logo-color);
	border: 1px solid var(--letsgo-logo-color);
	color: white;
	font-size: 10px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 1em 1.7em;
	border-radius: 30px;
	cursor: pointer;
}
.home-details-2-projects-btn:hover {
	background-color: var(--letsgo-logo-hover-color);
	
}

/** CAROUSEL */

#carousel {
	position: relative;
}

.carousel-item {
	position: relative;
	z-index: 0; /* stacking context creation */
	width: 100%;
	height: 100%;
	display: block;
}

.carousel-item > [data-carousel-idx] {
	position: absolute; /** relative to some parent outside of this component (Carousel here)*/
	z-index: 0;

	width: 100%;
	overflow: hidden;
	opacity: 1;
}

.carousel-item > [data-carousel-idx]:not(.active) {
	z-index: -1;
	opacity: 0; /* and not display:none so that we can animate on  */
}

.carousel-indicators {
	--size: 9px; /** FIXME value */

	width: 100%;

	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 15px; /** FIXME value */
}

.carousel-indicator {
	width: var(--size);
	height: var(--size);
	margin-left: calc(var(--size) + 1px);

	box-sizing: border-box;
	border: 1px solid #ffffff;
	border-radius: var(--size);
	background: none;

	position: relative;
}

.carousel-indicator::after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;

	border-radius: 100%;
	background-color: #ffffff;

	position: absolute;
	top: 0;
	left: 0;
}

.carousel-indicator.active::after {
	opacity: 1;
}

.carousel-indicator:hover {
	cursor: pointer;
}

.carousel-background {
	position: absolute;
	width: 100%;

	/* How much we want colored background to be cropped at their bottom */
	--background-crop-bottom: 10%;
	height: calc(100% - var(--background-crop-bottom));
	top: 0;
	left: 0;
	z-index: -1;

	--bg-transitionDur: 1s;
	transition-property: --bg-color1, --bg-position1, --bg-color2, --bg-position2, --bg-color3, --bg-position3, --bg-color4, --bg-position4;
	transition-duration: var(--bg-transitionDur);
	background: linear-gradient(
		90deg,
		var(--bg-color1) var(--bg-position1),
		var(--bg-color2) var(--bg-position2),
		var(--bg-color3) var(--bg-position3),
		var(--bg-color4) var(--bg-position4)
	);
}

#carousel[data-active='0'] .carousel-background {
	--bg-color1: #010a44;
	--bg-position1: 0%;
	--bg-color2: #001477;
	--bg-position2: 50%;
	--bg-color3: #001477;
	--bg-position3: 50%;
	--bg-color4: #010a44;
	--bg-position4: 100%;
}
#carousel[data-active='1'] .carousel-background {
	--bg-color1: #3c071b;
	--bg-position1: 0%;
	--bg-color2: #9c0e43;
	--bg-position2: 50%;
	--bg-color3: #9c0e43;
	--bg-position3: 50%;
	--bg-color4: #3c071b;
	--bg-position4: 100%;
}
#carousel[data-active='2'] .carousel-background {
	--bg-color1: #0a1c21;
	--bg-position1: 0%;
	--bg-color2: #1b3e4a;
	--bg-position2: 50%;
	--bg-color3: #1b3e4a;
	--bg-position3: 50%;
	--bg-color4: #0a1c21;
	--bg-position4: 100%;
}
#carousel[data-active='3'] .carousel-background {
	--bg-color1: #be0f39;
	--bg-position1: 0%;
	--bg-color2: #fe696c;
	--bg-position2: 42.5%;
	--bg-color3: #fe696c;
	--bg-position3: 57.5%;
	--bg-color4: #be0f39;
	--bg-position4: 100%;
}

/** FIXME fallback when houdini is not supported */
@property --bg-color1 {
	syntax: '<color>';
	initial-value: white;
	inherits: false;
}

@property --bg-color2 {
	syntax: '<color>';
	initial-value: white;
	inherits: false;
}

@property --bg-color3 {
	syntax: '<color>';
	initial-value: white;
	inherits: false;
}

@property --bg-color4 {
	syntax: '<color>';
	initial-value: white;
	inherits: false;
}

@property --bg-position1 {
	syntax: '<percentage>';
	initial-value: 0%;
	inherits: false;
}

@property --bg-position2 {
	syntax: '<percentage>';
	initial-value: 50%;
	inherits: false;
}

@property --bg-position3 {
	syntax: '<percentage>';
	initial-value: 50%;
	inherits: false;
}

@property --bg-position4 {
	syntax: '<percentage>';
	initial-value: 100%;
	inherits: false;
}

/** FIXME value @media */
@media (min-width: 1300px) {
	.bg {
		height: calc(100% - 68px); /** FIXME value */
	}
}

@media (min-width: 1250px) {
	/** FIXME value */

	.carousel-indicators {
		height: 100%;
		box-sizing: border-box;
		align-items: start;
	}
}


/** MENU */
.projects-menu {
	margin-top: 50px;
	display: flex;
    gap: 50px;
}

.projects-menu-item {
	background: none;
	border: none;
	padding-left: 0; /* cf parent "gap" */
	padding-right: 0; /* cf parent "gap" */
	font-weight: 500;
	font-size: 1.25em;
}

.projects-menu-item:hover {
	color: #4D43F4;
}

#menu-container[data-show=""] .projects-menu-item[data-show=""],
#menu-container[data-show="branding"] .projects-menu-item[data-show="branding"],
#menu-container[data-show="illustration"] .projects-menu-item[data-show="illustration"],
#menu-container[data-show="print"] .projects-menu-item[data-show="print"],
#menu-container[data-show="webdesign"] .projects-menu-item[data-show="webdesign"] {
	text-decoration: underline;
	color: #4D43F4;
}

/** GRID */

.grid {
	--base-size: 5em;
	--gap: 3.5em;

	display: flex;
	flex-wrap: wrap;

	margin: calc(var(--gap) / 2 * -1);
	width: calc(100% + var(--gap));
	margin-top: 1em;
}

.grid.grid-12-columns {
	width: calc(var(--base-size) * 12);
}

.grid-item {
	--width-columns: 1;
	--size: calc(var(--base-size) * var(--width-columns));
	padding: calc(var(--gap) / 2);
	overflow: hidden;
	width: var(--size);

	width: 0;
	padding-left: 0;
	padding-right: 0; 
	transition: all 400ms;
}

#grid-container[data-show=""] .grid-item,
#grid-container[data-show="branding"] .grid-item[data-show=branding],
#grid-container[data-show="illustration"] .grid-item[data-show=illustration],
#grid-container[data-show="print"] .grid-item[data-show=print],
#grid-container[data-show="webdesign"] .grid-item[data-show=webdesign] {
	padding: calc(var(--gap) / 2);
	width: var(--size);
	transition: all 200ms;
}

.grid-item > * {
	opacity: 0;
	transition: opacity 400ms;
}

#grid-container[data-show=""] .grid-item > *,
#grid-container[data-show="branding"] .grid-item[data-show=branding] > *,
#grid-container[data-show="illustration"] .grid-item[data-show=illustration] > *,
#grid-container[data-show="print"] .grid-item[data-show=print] > *,
#grid-container[data-show="webdesign"] .grid-item[data-show=webdesign] > * {
	opacity: 1;
}

.grid-item.grid-item-3-columns {
	--width-columns: 3;
}

.grid-item.grid-item-4-columns {
	--width-columns: 4;
}

.grid-item.grid-item-6-columns {
	--width-columns: 6;
}

.grid-item.grid-item-square {
	height: var(--size);
}

.grid-item.grid-item-3-rows {
	height: calc(var(--base-size) * 3);
}

/** CARDS */

.card {
	--transition-duration: 300ms;
	height: 100%;
	width: 100%;
	--border-radius: 2em;
	border-radius: var(--border-radius);
	position: relative;
	overflow: hidden;
}

.card-img {
	transition: transform calc(var(--transition-duration) * 0.5);
	border-radius: var(--border-radius);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-link-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	padding-bottom: 2em;
	align-items: center;
	color: #ffffff;
	font-size: 0.6em;
	border-radius: var(--border-radius);

	background: linear-gradient(0, rgba(0, 20, 119, 0.9) 10%, rgba(255, 255, 255, 0) 100%);
	opacity: 0;
	transition: opacity var(--transition-duration);
}

.card-link-container:hover {
	opacity: 1;
}

.card-link-title {
	text-align: center;
	font-size: 2em;
	margin-bottom: 0.5em;
}

.card-link {
	background-color: #b3005e;
	border: 1px solid #b3005e;
	padding: 0.5em 1.5em;
	border-radius: var(--border-radius);
	font-size: 1em;
	transition: background-color 400ms;
	text-decoration: inherit;
	color: inherit;
}

.card-link:hover {
	background-color: #850046;
}



/** MISC */

.section-container {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.section-container-title {
	--font-size: 50px;
	font-family: 'Felix Titling';
	text-transform: uppercase;
	text-align: center;
	font-size: var(--font-size);
	font-weight: 400;
	position: relative;
	color: #001477;
	padding: 0 1em;
}

.section-container-title.section-container-title-inverted {
	color: white;
}

.section-container-subtitle {
	text-align: center;
	font-size: 20px;
}

.strikethrough {
	/* NOTE: requires that parent exposes a --font-size property */
	--size-added: 25%; /* on each side */
	--line-height: calc((1 + .5) *var(--font-size))
}

.strikethrough:before {
	content: '';
	position: absolute;
	top: calc(var(--line-height) / 2);
	left: calc(var(--size-added) * -1);
	height: 1px;
	background-color: #001477;
	width: var(--size-added);
	z-index: 1;
}

.strikethrough:after {
	content: '';
	position: absolute;
	top: calc(var(--line-height) / 2);
	left: 100%;
	height: 1px;
	background-color: #001477;
	width: var(--size-added);
	z-index: 1;
}

.section-container-title-inverted.strikethrough:before,
.section-container-title-inverted.strikethrough:after
 {
	background-color: white;
}

/** ABOUT-LAYOUT */
.section-container-about {
	position: relative;
	padding-top: 100px;
	overflow: unset;
}

.section-container-about:after {
	/* use pseudo-element to control height */
	content: '';
	position: absolute;
	top: 0;left: 0;
	width: 100%;
		/* How much we want colored background to be cropped at their bottom */
	--background-crop-bottom: 50px;
	height: calc(100% - var(--background-crop-bottom));
	background: linear-gradient(90deg, #010a44 0%, #001477 50%, #010a44 100%);
	z-index: -1;
}

.layout-about {
	
	display: grid;
	/* TODO this grid is actually desktop's one */
	--col-1-width: 285px;
	--col-2-width: 354px;
	--col-3-width: 225px;
	--col-4-width: 225px;
	
	--about-h-gap: 50px;
	--about-w-gap: 50px;
	--row-1-height: 100px;
	--row-2-height: 50px;
	--row-3-height: 75px;
	--row-4-height: 50px;
	--row-5-height: 60px;
	--row-6-height: 0px;
	--row-7-height: 90px;

	grid:
		'who	lol 	fields 		fields' var(--row-1-height)
		'who 	lol 	training 	training' var(--row-2-height)
		'who 	skills 	training 	training' var(--row-3-height)
		'typo 	skills 	beau-gosse	stats' var(--row-4-height)
		'links 	skills 	beau-gosse	stats' var(--row-5-height)
		'links 	skills 	beau-gosse	contact' var(--row-6-height)
		'links 	badges 	beau-gosse  contact' var(--row-7-height)
		/ var(--col-1-width) var(--col-2-width) var(--col-3-width) var(--col-4-width);
	row-gap: var(--about-h-gap);
	column-gap: var(--about-w-gap);
	justify-items: center;
	align-items: start;

	padding-top: 40px;
	background: transparent;
	color: white;
}

.layout-about-item {
	width: 100%;
	height: 100%;
	position: relative;
}

.layout-about-who {
	grid-area: who;
}
.layout-about-lol {
	grid-area: lol;
}
.layout-about-fields {
	grid-area: fields;
}
.layout-about-typo {
	grid-area: typo;
}
.layout-about-training {
	grid-area: training;
}
.layout-about-skills {
	grid-area: skills;
}
.layout-about-links {
	grid-area: links;
}
.layout-about-badges {
	grid-area: badges;
}
.layout-about-beau-gosse {
	grid-area: beau-gosse;
}
.layout-about-stats {
	grid-area: stats;
}
.layout-about-contact {
	grid-area: contact;
}

.about-card {
	border-radius: 20px;
	border-width: 1px;

	border: 1px solid #ffffff;
	background: linear-gradient(180deg, #ffffff 27.08%, #e0e0f1 70.31%);
	color: black;
	padding: 19px;
	box-shadow: 10px 15px 30px 0px #00000033;
	
}


.about-card-dark {
	border: 1px solid #3d3a3f;
	background: linear-gradient(191.94deg, #332e2a 17.46%, #1c170c 81.3%);
	color: white;
	display: flex;
	flex-direction: row;

	padding-left: 0;
	padding-right: 0;
}

.about-card-primary {
	border: 1px solid #7a71f7;
	background: linear-gradient(270deg, #4d43f4 23.23%, #3c35bc 77.4%);
	color: white;
	display: flex;
	flex-direction: row;
}

.about-card-primary-inverted {
	border: 1px solid #7a71f7;
	background: linear-gradient(270deg, #3c35bc 23.23%, #4d43f4 77.4%);
	color: white;
	display: flex;
	flex-direction: row;
}

.about-card-alternative {
	background: linear-gradient(84.08deg, #F6F6F6 34.2%, #FFFFFF 68.83%);
}

.about-card-column-content-pretty {
	font-family: 'Felix titling';
}

.about-card-column-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: center;
	font-size: 15px;
}

.about-card-column-content > * {
	flex: 1;
}

.about-card-column-content-20 {
	margin-top: 6px;
	font-size: 20px;
}
.about-card-column-content-30 {
	font-size: 30px;
}
.about-card-column-content-50 {
	font-size: 50px;
}

.about-card-column-content:not(:first-child) 	{
	border-left: 1px solid #3D3A3F;
}

.about-card-title {
	font-weight: 700;
	font-size: 30px;
	margin-top: 5px;
}

.about-card-text {				
	font-size: 16px;
	margin-top: 5px;
	font-weight: 300;
}

.about-card-text > strong{
	font-weight: 600;
}

.about-card-hr {
	display: flex;
	gap: 1em;
}

.about-card-hr hr {
	flex: 1;
	border-top: 1px solid #B3005E;
}

.about-who-img {

	width: 86px;
	height: 97px;
	position: absolute;
	right: 14px;
	bottom: -25px;
}

.about-training {
	padding-right: 130px;
}

.about-training-img-container {
	position: absolute;
	width: 151px;
	height: 196px;
	right: 0;
	bottom: 0;
	overflow: hidden;
	border-radius: 20px;
}

.about-trainint-img {
	transform: rotateY(180deg);
}

.about-typo {
	display: flex;
	align-items: center;
	padding: 0 13px;
}

.about-typo > * {
	flex:1;
}

.about-typo > *:not(:first-child) {
	margin-left: 6.5px;
}

.about-typo-icon {
	padding-top: 13px;
	padding-bottom: 13px;
}

.about-typo-line {
	position: relative;
}
.about-typo-line:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: white;
	top: 50%;
}

.about-typo-text {
	font-size: 30px;
	padding-bottom: 3px; /* font-dependant hack for a correct vertical center */
}

.about-typo-text-bold {
	font-weight: 700;
}

.about-card.about-links {
	position: relative;
	z-index: 0;
	padding: 0;
	overflow: hidden;
	border: 0px;
}

.about-links-background-container {
	width: 469px;
	margin-top: 13px;
}

.about-links-topbar-container {
	position: absolute;
	right: 130px;
	top: 59px;
	gap: 5px;
	display: flex;
	height: 10px;
	align-items: center;
}

.about-links-topbar-clock {
	color: white;
	font-size: 12px;
	font-weight: 700;
	margin-left: 11px;
}


.about-links-logo-container {
	position: absolute;
	right: -58px;
	top: 118px;
	gap: 23px;
	display: flex;
	align-items: flex-start;
}

.about-links-logo {
	display: flex;
	flex-direction: column;
	width: 73px;
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-weight: 500;
}

.about-links-logo-title {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 6px;
}

a.about-links-logo:hover .about-links-logo-title {
	text-shadow: 0px 6px 6px #000000;
}

a.about-links-logo:hover svg {
	filter: drop-shadow(0px 6px 10px rgb(0 0 0 / 0.5));
}

.about-fields-items {
	padding-top: 15px;
	padding-bottom: 15px;
	justify-content: space-around;
}

.about-fields-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.about-fields-item-icon {
	margin-bottom: 5px;
	margin-top: 5px;
}

.about-fields-item-text {
	text-wrap: nowrap;
	font-weight: 600;
	font-size: 15px;
}

.about-badges-items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.about-badges-item {
	/* we expect --color to be set */
	border: solid 1px white;
	background-color: var(--color);
	display: block;
	width: 55px;
	height: 55px;
	border-radius: 100%;
	box-shadow: 0px 5px 10px 0px #00147733;
}

.about-card.about-beau-gosse {
	padding: 0;
	overflow: hidden;
}

.about-beau-gosse-img-container {
	width: 420px;
	height: 100%;
	margin-left: -84px;
	margin-top: -55px;
}